.container {
  width: calc(56 * .5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  height: 100%;
  padding-top: 1rem;
}

.banner {
  background-color: var(--color-blue);
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner__sign-container {
  position: relative;
}

.banner__graffiti {
  position: absolute;
  right: -13%;
  top: 15%;
}

.atm {
  width: 90%;
  background-color: var(--color-gray-light);
  border-top: .5rem solid var(--color-gray-shadow);
  height: calc(80 * .5rem);
  padding: 1rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.atm__graffiti {
  align-self: flex-start;
  transform: translate(-30%, -10%);
}
