.screen__options-list {
  display: inline-flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem;
  right: 0;
  font-size: .5rem;
  gap: 20px;
  max-width: 50%;
}

.screen__options-list--reversed  {
  left: 0;
  right: initial;
}

.option {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  bottom: 0;
  z-index: 1;
  height: .75rem;
}

.screen__options-list--reversed .option {
  flex-direction: row-reverse;
}

.option__label {
  --padding: .25rem;

  position: relative;
  padding-right: var(--padding);
  text-wrap: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  text-align: right;
}

.option__label--disabled {
  visibility: hidden;
}

.screen__options-list--reversed .option__label {
  flex-direction: row-reverse;
  text-align: left;
  padding-right: 0;
  padding-left: var(--padding);
}


.dash {
  width: 1rem;
  content: " ";
  border-top: .2rem solid var(--color-white);
}

 .option__label--disabled +.dash{
  visibility: hidden;
}

.dash--dark {
  border-top-color: var(--color-gray-dash);
}

.option__button-container {
  display: inline-flex;
  width: min-content;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  position: absolute;
  right: -.25rem;
  transform: translateX(100%);
}

.screen__options-list--reversed .option__button-container {
  left:-.25rem;
  transform: translateX(-100%);
}


.option__button {
  width: 40px;
  height: 20px;
  background-color: var(--color-gray-btn);
  position: relative;
  border-radius: .25rem;
}


.option__button::before, .option__button::after {
  --border-width: 5px;

  content: "";
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  z-index: -1;
}

.option__button::before {
  border-top: var(--border-width) solid var(--color-gray-btn-top-border);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  position: absolute;
  top: 0;
  transform: translateY( -40%) ;
}

.option__button::after {
  border-bottom: var(--border-width) solid var(--color-gray-btn-bottom-border);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  bottom: 0;
  transform: translateY(40%) ;
}
