.screen {
  color: var(--color-white);
  background-color: var(--color-blue-screen);
  border: .25rem solid var(--color-gray-border);
  position: relative;
  text-align: center;
  padding: 1rem .5rem;
  width: 250px;
  height: 250px;
}


.screen__brand {
  color: var(--text-gray);
  position: absolute;
  right: 0;
  bottom: -.5rem;
  transform: translateY(100%);
  font-size: .5rem;
}

.screen__content-container {
  font-size: .75rem;
  margin: .5rem 0;
}
